  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);*/
  }
  
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  .nounderline {
    text-decoration: none !important;
  }
  
  /*
   * Utilities
   */
  .border-bottom { border-bottom: 1px solid #e5e5e5; }

  .accordion .card {
    margin-bottom: 1rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  .accordion .card .card-body {
    border-top: 1px solid #eee;
  }

  .h2{
      text-shadow: 2px 2px 2px white;
  }

  /*table styles*/
  div.dt-buttons{
    position:relative;
    float:right;
  }


  th { font-size: 16px;}
  td { font-size: 12px;}

  td:nth-child(22), td:nth-child(23), td:nth-child(24)
  td:nth-child(25), td:nth-child(26), td:nth-child(27) {
    font-size: 3px;
    font-size-adjust: initial;
    }

  #tabla_resultados_filter{
    display: none;
}

.fondo_tabla{
  background-color: #f2f2f2;
}
/*para que no se visualice el buscador de datatables*/
#tabla_total_filter,#tabla_scp_filter, #tabla_sac_filter, #tabla_sld_filter
,#tabla_slt_filter,#tabla_stp_filter,#tabla_sp_filter{
  display: none;
}

.active{
  background-color: #62a64f !important;
}

